@font-face {
    font-family: Unbounded;
    src: url(../font/Unbounded[wght].ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* header start  */

.header {
    padding-top: 16px;
    padding-bottom: 16px;
    background: linear-gradient(270.33deg, #001733 4.23%, #003E81 108.48%);
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.container {
    max-width: 1599px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    font-family: Unbounded, sans-serif;
}

.header_logo {
    display: flex;
}

.big__box {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.nav__link:hover {
    opacity: 50%;
    transition: all 0.6s;
}

.header__row {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__row__line {
    color: #FFFFFF;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__row__link:hover {
    opacity: 50%;
    transition: all 0.6s;
}

.header__box__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.header__box__link:hover {
    opacity: 50%;
    transition: all 0.6s;
}

.header__menu {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 10px 12px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #001733;
    display: none;
}

.header__menu:hover {
    background-color: #001733;
    border: 1px solid #FFFFFF;
    transition: all 0.6s;
}

/* ==== Mobile Menu Modal ==== */
.menu-modal {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: flex-end;
    z-index: 999;
    right: -100%;
}

.menu-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.menu-modal.open {
    display: flex;
    transition: all 0.6s;
    right: 0;
}

.menu-modal.close {
    display: flex;
    transition: all 0.6s;
    right: -100%;
    pointer-events: none;
}

.menu-modal__content {
    width: 375px;
    height: 100%;
    background: linear-gradient(270.33deg, #001733 4.23%, #003E81 108.48%);
    color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    animation: slideIn 0.4s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOn {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.menu-modal__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-modal__logo {
    width: 80px;
}

.menu-modal__close {
    font-size: 32px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    border: 1px solid #001733;
    width: 48px;
    border-radius: 50px;
}

.menu-modal__title {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding-top: 24px;
    padding-bottom: 32px;
}

.menu-modal__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 244px;
}

.menu-modal__list a {
    font-family: Unbounded, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.menu-modal__list a:hover {
    opacity: 0.6;
}

.menu-modal__lang {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 8px 8px;
    border-radius: 8px;
}

.menu-modal__lang button {
    font-family: Unbounded;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.menu-modal__lang button.active {
    background: #fff;
    color: #001733;
    max-width: 109px;
    width: 100%;
    padding: 12px 0;
}

.menu-modal__btn {
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
}

.menu-modal__btn.telegram {
    font-family: Unbounded;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 343px;
    width: 100%;
}

.menu-modal__btn.phone {
    font-family: Unbounded;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    max-width: 343px;
    width: 100%;
}


@media (max-width:1187px) {
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
        background: linear-gradient(270.33deg, #001733 4.23%, #003E81 108.48%);

    }

    .header_logo {
        display: flex;
        width: 68px;
    }

    .big__box {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .nav__list {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 24px;
        display: none;
    }

    .nav__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
    }

    .nav__link:hover {
        opacity: 50%;
        transition: all 0.6s;
    }

    .header__row {
        display: flex;
        align-items: center;
        gap: 24px;
        display: none;
    }

    .header__row__line {
        color: #FFFFFF;
    }

    .header__box {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .header__row__link:hover {
        color: red;
    }

    .header__box__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
    }

    .header__box__link:hover {
        opacity: 50%;
        transition: all 0.6s;
    }

    .header__menu {
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        padding: 10px 10px;
        border-radius: 50px;
        cursor: pointer;
        border: 1px solid #001733;
        display: block;
        width: 48px;
    }

    .header__menu:hover {
        background-color: #001733;
        border: 1px solid #FFFFFF;
        transition: all 0.6s;
    }
}

/* header end  */

/* hero start */

.hero {
    padding-top: 64px;
    padding-bottom: 60px;
}

.hero__title {
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 13px;
}

.hero__title__1 {
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 13px;
    display: none;
}

.hero__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    max-width: 685px;
    width: 100%;
    margin-bottom: 24px;
}

.uslugi__img {
    max-width: 1599px;
    width: 100%;
}

.uslugi__img__1 {
    max-width: 343px;
    width: 100%;
    display: none;
}

@media (max-width:690px) {

    .hero {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .hero__title {
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 13px;
    }

    .hero__title__1 {
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 13px;
        display: none;
    }

    .hero__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        max-width: 500px;
        width: 100%;
        margin-bottom: 24px;
    }

    .uslugi__img {
        max-width: 1599px;
        width: 100%;
        display: block;
    }

    .uslugi__img__1 {
        max-width: 343px;
        width: 100%;
        display: none;
    }
}

@media (max-width:525px) {

    .hero {
        padding-top: 64px;
        padding-bottom: 60px;
    }

    .hero__title {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 4px;
    }

    .hero__title__1 {
        font-weight: 700;
        font-size: 48px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 13px;
        display: none;
    }

    .hero__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        max-width: 500px;
        width: 100%;
        margin-bottom: 24px;
    }

    .uslugi__img {
        max-width: 1599px;
        width: 100%;
        display: block;
    }

    .uslugi__img__1 {
        max-width: 343px;
        width: 100%;
        display: none;
    }
}

@media (max-width:375px) {

    .hero {
        padding-top: 64px;
        padding-bottom: 60px;
    }

    .hero__title {
        font-weight: 700;
        font-size: 22px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 4px;
        display: none;
    }

    .hero__title__1 {
        font-weight: 700;
        font-size: 22px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 4px;
        display: block;
    }

    .hero__text {
        font-weight: 300;
        font-size: 11px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        max-width: 327px;
        width: 100%;
        margin-bottom: 24px;
    }

    .uslugi__img {
        max-width: 1599px;
        width: 100%;
        display: none;
    }

    .uslugi__img__1 {
        max-width: 343px;
        width: 100%;
        display: block;
    }
}

/* hero end */

/* carton start */

.carton {
    padding-top: 60px;
    padding-bottom: 73px;
}

.carton__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(41, 144, 255, 1);
    margin-bottom: 17px;
}

.carton__line {
    max-width: 1599px;
    width: 100%;
    border: 1px solid rgba(217, 217, 217, 1);
    margin-bottom: 24px;
}

.carton__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 120px;
}

.carton__row:nth-child(1) {
    margin-bottom: 0;
}

.carton__row__col {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    max-width: 390px;
    width: 100%;
}

.carton__row__col__1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    max-width: 390px;
    width: 100%;
}

.carton__row__col__img {
    max-width: 390px;
    width: 100%;
}

.carton__row__col__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

.carton__row__col__text {
    font-family: Unbounded;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    max-width: 390px;
    width: 100%;
}

@media (max-width:1569px) {

    .carton {
        padding-top: 60px;
        padding-bottom: 73px;
    }

    .carton__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(41, 144, 255, 1);
        margin-bottom: 17px;
    }

    .carton__line {
        max-width: 1599px;
        width: 100%;
        border: 1px solid rgba(217, 217, 217, 1);
        margin-bottom: 24px;
    }

    .carton__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 90px;
    }

    .carton__row:nth-child(1) {
        margin-bottom: 0;
    }

    .carton__row__col {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        max-width: 390px;
        width: 100%;
    }

    .carton__row__col__1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        max-width: 390px;
        width: 100%;
    }

    .carton__row__col__img {
        max-width: 390px;
        width: 100%;
    }

    .carton__row__col__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
    }

    .carton__row__col__text {
        font-family: Unbounded;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        max-width: 390px;
        width: 100%;
    }
}

@media (max-width:1180px) {

    .carton {
        padding-top: 60px;
        padding-bottom: 73px;
    }

    .carton__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(41, 144, 255, 1);
        margin-bottom: 17px;
    }

    .carton__line {
        max-width: 1599px;
        width: 100%;
        border: 1px solid rgba(217, 217, 217, 1);
        margin-bottom: 24px;
    }

    .carton__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 60px;
    }

    .carton__row:nth-child(1) {
        margin-bottom: 0;
    }

    .carton__row__col {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        max-width: 390px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .carton__row__col__1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        max-width: 390px;
        width: 100%;
        display: none;
    }

    .carton__row__col__img {
        max-width: 390px;
        width: 100%;
    }

    .carton__row__col__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
    }

    .carton__row__col__text {
        font-family: Unbounded;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        max-width: 390px;
        width: 100%;
    }
}

@media (max-width:600px) {

    .carton {
        padding-top: 60px;
        padding-bottom: 73px;
    }

    .carton__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(41, 144, 255, 1);
        margin-bottom: 16px;
    }

    .carton__line {
        max-width: 1599px;
        width: 100%;
        border: 1px solid rgba(217, 217, 217, 1);
        margin-bottom: 24px;
    }

    .carton__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 48px;
    }

    .carton__row:nth-child(1) {
        margin-bottom: 0;
    }

    .carton__row__col__1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        max-width: 390px;
        width: 100%;
        display: none;
    }

    .carton__row__col__img {
        max-width: 390px;
        width: 100%;
    }

    .carton__row__col__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
    }

    .carton__row__col__text {
        font-family: Unbounded;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 1);
        max-width: 390px;
        width: 100%;
    }
}

@media (max-width:375px) {

    .carton {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .carton__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(41, 144, 255, 1);
        margin-bottom: 16px;
    }

    .carton__line {
        max-width: 1599px;
        width: 100%;
        border: 1px solid rgba(217, 217, 217, 1);
        margin-bottom: 24px;
    }

    .carton__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 0;
    }

    .carton__row:nth-child(1) {
        margin-bottom: 0;
    }

    .carton__row__col {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        max-width: 163px;
        width: 100%;
    }

    .carton__row__col__1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        max-width: 390px;
        width: 100%;
        display: none;
    }

    .carton__row__col__img {
        max-width: 160px;
        width: 100%;
    }

    .carton__row__col__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
    }

    .carton__row__col__text {
        font-family: Unbounded;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: rgba(0, 0, 0, 1);
        max-width: 390px;
        width: 100%;
    }
}

/* carton end */


/* asked start */

.asked {
    padding-top: 60px;
    padding-bottom: 120px;
    display: none;
}

.asked-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.asked__row {
    max-width: 533px;
    width: 100%;
}

.asked__row__1 {
    max-width: 945px;
    width: 100%;
}

.asked__row__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 22px;
}

.asked__row__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    max-width: 533px;
    width: 100%;
}

.asked__col {
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    max-width: 945px;
    width: 100%;
}

.asked__col__box {
    max-width: 945px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.asked__col__box__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(0, 124, 255, 1);
}

.asked__col__box__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.asked__col__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    max-width: 671px;
    width: 100%;
}

.asked__col__1 {
    max-width: 945px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    margin-bottom: 32px;
}

.asked__col__1__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

.asked__col__1__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width:1200px) {

    .asked {
        padding-top: 60px;
        padding-bottom: 120px;
    }

    .asked-container {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .asked__row {
        max-width: 533px;
        width: 100%;
    }

    .asked__row__1 {
        max-width: 945px;
        width: 100%;
    }

    .asked__row__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 22px;
    }

    .asked__row__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        max-width: 533px;
        width: 100%;
    }

    .asked__col {
        margin-bottom: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(217, 217, 217, 1);
        max-width: 945px;
        width: 100%;
    }

    .asked__col__box {
        max-width: 945px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .asked__col__box__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 124, 255, 1);
    }

    .asked__col__box__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .asked__col__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        max-width: 671px;
        width: 100%;
    }

    .asked__col__1 {
        max-width: 945px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(217, 217, 217, 1);
        margin-bottom: 32px;
    }

    .asked__col__1__text {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
    }

    .asked__col__1__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

@media (max-width:680px) {

    .asked {
        padding-top: 40px;
        padding-bottom: 120px;
    }

    .asked-container {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }

    .asked__row {
        max-width: 533px;
        width: 100%;
    }

    .asked__row__1 {
        max-width: 945px;
        width: 100%;
    }

    .asked__row__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 22px;
    }

    .asked__row__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        max-width: 533px;
        width: 100%;
    }

    .asked__col {
        margin-bottom: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(217, 217, 217, 1);
        max-width: 945px;
        width: 100%;
    }

    .asked__col__box {
        max-width: 945px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .asked__col__box__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 124, 255, 1);
    }

    .asked__col__box__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .asked__col__text {
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        max-width: 671px;
        width: 100%;
    }

    .asked__col__1 {
        max-width: 945px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(217, 217, 217, 1);
        margin-bottom: 32px;
    }

    .asked__col__1__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
    }

    .asked__col__1__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

@media (max-width:526px) {

    .asked {
        padding-top: 40px;
        padding-bottom: 64px;
    }

    .asked-container {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    .asked__row {
        max-width: 533px;
        width: 100%;
    }

    .asked__row__1 {
        max-width: 945px;
        width: 100%;
    }

    .asked__row__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 16px;
    }

    .asked__row__text {
        font-weight: 300;
        font-size: 10px;
        line-height: 16px;
        color: rgba(0, 0, 0, 1);
        max-width: 533px;
        width: 100%;
    }

    .asked__col {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(217, 217, 217, 1);
        max-width: 945px;
        width: 100%;
    }

    .asked__col__box {
        max-width: 945px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .asked__col__box__title {
        font-weight: 700;
        font-size: 12px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 124, 255, 1);
    }

    .asked__col__box__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .asked__col__text {
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        max-width: 671px;
        width: 100%;
    }

    .asked__col__1 {
        max-width: 945px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(217, 217, 217, 1);
        margin-bottom: 25px;
    }

    .asked__col__1__text {
        font-weight: 700;
        font-size: 12px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
    }

    .asked__col__1__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

@media (max-width:376px) {

    .asked {
        padding-top: 40px;
        padding-bottom: 64px;
        display: block;
    }

    .asked-container {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    .asked__row {
        max-width: 533px;
        width: 100%;
    }

    .asked__row__1 {
        max-width: 945px;
        width: 100%;
    }

    .asked__row__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 16px;
    }

    .asked__row__text {
        font-weight: 300;
        font-size: 10px;
        line-height: 16px;
        color: rgba(0, 0, 0, 1);
        max-width: 533px;
        width: 100%;
    }

    .asked__col {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(217, 217, 217, 1);
        max-width: 945px;
        width: 100%;
    }

    .asked__col__box {
        max-width: 945px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .asked__col__box__title {
        font-weight: 700;
        font-size: 12px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 124, 255, 1);
    }

    .asked__col__box__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .asked__col__text {
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        max-width: 671px;
        width: 100%;
    }

    .asked__col__1 {
        max-width: 945px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(217, 217, 217, 1);
        margin-bottom: 25px;
    }

    .asked__col__1__text {
        font-weight: 700;
        font-size: 12px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
    }

    .asked__col__1__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

/* asked end */


/* order start */

.order {
    padding-top: 48px;
    padding-bottom: 122px;
    background: linear-gradient(360deg, #001733 -11.26%, #007BFF 161.41%);
}

.order-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.order__row {
    max-width: 623px;
    width: 100%;
}

.order__row__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 22px;
    max-width: 400px;
    width: 100%;
}

.order__row__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 55px;
}

.order__row__img {
    max-width: 653px;
    width: 100%;
}

.order__col {
    background: rgba(255, 255, 255, 0.05);
    max-width: 850px;
    width: 100%;
    padding: 24px;
    border-radius: 8px;
}

.order__col__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(133, 190, 255, 1);
    margin-bottom: 32px;
}

.order__col__form {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 805px;
    width: 100%;
}

.order__col__form__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.order__col__form__input {
    max-width: 805px;
    width: 100%;
    padding: 20px 20px 20px 16px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    margin-bottom: 32px;
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid transparent;
}


.order__col__form__input:focus {
    border: 1px solid white;
    transition: all 0.3s;
}

.order__col__form__btn {
    font-family: Helvetica Neue, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    max-width: 805px;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    background: linear-gradient(81.56deg, #3D9AFF 0.38%, #0063DC 189.83%);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.order__col__form__btn:hover {
    opacity: 0.6;
    transition: all 0.4s;
}

.order__row__title__span::after {
    content: url(../img/order/green__dod.svg);
    margin-top: 50px;
}

@media (max-width:1200px) {

    .order {
        padding-top: 48px;
        padding-bottom: 122px;
        background: linear-gradient(360deg, #001733 -11.26%, #007BFF 161.41%);
    }

    .order-container {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
    }

    .order__row {
        max-width: 623px;
        width: 100%;
    }

    .order__row__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 22px;
        max-width: 400px;
        width: 100%;
    }

    .order__row__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 55px;
    }

    .order__row__img {
        max-width: 653px;
        width: 100%;
        display: none;
    }

    .order__col {
        background: rgba(255, 255, 255, 0.05);
        max-width: 850px;
        width: 100%;
        padding: 24px;
        border-radius: 8px;
        margin: 0 auto;
    }

    .order__col__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(133, 190, 255, 1);
        margin-bottom: 32px;
    }

    .order__col__form {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 805px;
        width: 100%;
    }

    .order__col__form__label {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 16px;
    }

    .order__col__form__input {
        font-family: Unbounded;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        max-width: 805px;
        width: 100%;
        padding: 16px 16px;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        outline: none;
        margin-bottom: 24px;
        cursor: pointer;
        color: #FFFFFF;
        border: 1px solid transparent;
    }

    .order__col__form__input:focus {
        border: 1px solid white;
    }

    .order__col__form__btn {
        font-family: Helvetica Neue, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        max-width: 805px;
        width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
        background: linear-gradient(81.56deg, #3D9AFF 0.38%, #0063DC 189.83%);
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 4px;
    }
}

@media (max-width:600px) {

    .order {
        padding-top: 48px;
        padding-bottom: 122px;
        background: linear-gradient(360deg, #001733 -11.26%, #007BFF 161.41%);
    }

    .order-container {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
    }

    .order__row {
        max-width: 623px;
        width: 100%;
    }

    .order__row__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 22px;
        max-width: 400px;
        width: 100%;
    }

    .order__row__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 30px;
    }

    .order__row__img {
        max-width: 653px;
        width: 100%;
        display: none;
    }

    .order__col {
        background: rgba(255, 255, 255, 0.05);
        max-width: 850px;
        width: 100%;
        padding: 24px;
        border-radius: 8px;
    }

    .order__col__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(133, 190, 255, 1);
        margin-bottom: 24px;
    }

    .order__col__form {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 805px;
        width: 100%;
    }

    .order__col__form__label {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 16px;
    }

    .order__col__form__input {
        font-family: Unbounded;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        max-width: 805px;
        width: 100%;
        padding: 16px 16px;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        outline: none;
        margin-bottom: 24px;
        cursor: pointer;
        color: #FFFFFF;
        border: 1px solid transparent;
    }

    .order__col__form__input:focus {
        border: 1px solid white;
    }

    .order__col__form__btn {
        font-family: Helvetica Neue, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        max-width: 805px;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        background: linear-gradient(81.56deg, #3D9AFF 0.38%, #0063DC 189.83%);
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 4px;
    }
}

@media (max-width:425px) {

    .order {
        padding-top: 40px;
        padding-bottom: 80px;
        background: linear-gradient(360deg, #001733 -11.26%, #007BFF 161.41%);
    }

    .order-container {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 0;
    }

    .order__row {
        max-width: 623px;
        width: 100%;
    }

    .order__row__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 16px;
        max-width: 346px;
        width: 100%;
    }

    .order__row__text {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        max-width: 343px;
        width: 100%;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 40px;
    }

    .order__row__img {
        max-width: 653px;
        width: 100%;
        display: none;
    }

    .order__col {
        background: rgba(255, 255, 255, 0.05);
        max-width: 850px;
        width: 100%;
        padding: 24px;
        border-radius: 8px;
    }

    .order__col__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(133, 190, 255, 1);
        margin-bottom: 24px;
    }

    .order__col__form {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 805px;
        width: 100%;
    }

    .order__col__form__label {
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 16px;
    }

    .order__col__form__input {
        font-family: Unbounded;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        max-width: 805px;
        width: 100%;
        padding: 16px 16px;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        outline: none;
        margin-bottom: 24px;
        cursor: pointer;
        color: #FFFFFF;
        border: 1px solid transparent;
    }

    .order__col__form__input:focus {
        border: 1px solid white;
    }

    .order__col__form__btn {
        font-family: Helvetica Neue, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        max-width: 805px;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        background: linear-gradient(81.56deg, #3D9AFF 0.38%, #0063DC 189.83%);
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 8px;
    }
}

/* order end */

/* max-box start */

.map-box {
    padding-top: 0;
    padding-bottom: 0;
    height: 614px;
    width: 100%;
    border: none;
}

/* max-box end */

/* footer start */

.footer {
    padding-top: 64px;
    padding-bottom: 24px;
    background: linear-gradient(360deg, #001733 -11.26%, #007BFF 161.41%);
}

.footer-container {
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    margin-bottom: 32px;
    cursor: pointer;
}

.footer__row__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
    max-width: 671px;
    width: 100%;
}

.footer__row__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    max-width: 671px;
    width: 100%;
    opacity: 50%;
}

.footer__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer__link:hover {
    color: rgba(0, 124, 255, 1);
    transition: all 0.6s;
}

.footer_line {
    margin-top: 121px;
    margin-bottom: 24px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 50%;
}

.footer_box {
    max-width: 1599px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_box__text {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: rgba(137, 158, 178, 1);
}

@media (max-width:1363px) {

    .footer {
        padding-top: 64px;
        padding-bottom: 24px;
        background: linear-gradient(360deg, #001733 -11.26%, #007BFF 161.41%);
    }

    .footer-container {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }

    .footer__logo {
        display: flex;
        margin-bottom: 32px;
        cursor: pointer;
    }

    .footer__row__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 16px;
        max-width: 671px;
        width: 100%;
    }

    .footer__row__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 1);
        max-width: 671px;
        width: 100%;
        margin-bottom: 95px;
        opacity: 50%;
    }

    .footer__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 35px;
    }

    .footer__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
    }

    .footer__link:hover {
        color: rgba(0, 124, 255, 1);
        transition: all 0.6s;
    }

    .footer_line {
        margin-top: 121px;
        margin-bottom: 24px;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 1);
        opacity: 50%;
    }

    .footer_box {
        max-width: 1599px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer_box__text {
        font-family: sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        color: rgba(137, 158, 178, 1);
    }
}

@media (max-width:628px) {

    .footer {
        padding-top: 64px;
        padding-bottom: 24px;
        background: linear-gradient(360deg, #001733 -11.26%, #007BFF 161.41%);
    }

    .footer-container {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }

    .footer__logo {
        display: flex;
        margin-bottom: 32px;
        cursor: pointer;
    }

    .footer__row__title {
        font-weight: 700;
        font-size: 12px;
        line-height: 125%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 16px;
        max-width: 343px;
        width: 100%;
    }

    .footer__row__text {
        font-weight: 300;
        font-size: 10px;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
        max-width: 671px;
        width: 100%;
        margin-bottom: 95px;
        opacity: 50%;
    }

    .footer__list {
        list-style: none;
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        gap: 35px;
    }

    .footer__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
    }

    .footer__link:hover {
        color: rgba(0, 124, 255, 1);
        transition: all 0.6s;
    }

    .footer_line {
        margin-top: 40px;
        margin-bottom: 24px;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 1);
        opacity: 50%;
    }

    .footer_box {
        max-width: 1599px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    .footer_box__text {
        font-family: sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 32px;
        color: rgba(137, 158, 178, 1);
    }
}

/* footer end */